#list {
    display: none;
    width: 30rem;
    margin: auto;
}

table {
    width: 30rem;
    margin: auto;
}

#map {
    display: block;
    height: 60vh; /* Percent of viewport height */
    width: 90%;
    margin: auto;
}

@media screen and (min-width: 800px) {
    #list {
        width: 100%;
        column-width: 30rem;
    }
}

#toggle_button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}