#today, 
#tomorrow,
#details,
#today_weather, 
#today_alerts,
#today_seasonal,
#tomorrow_weather,
#tomorrow_alerts,
#tomorrow_seasonal {
    display: none;
}

.dropdown_l1 {
    width: 80%;
    margin: auto;
}

.dropdown_l2 {
    width: 80%;
    margin: auto;
}

#data {
    width: 90%;
    margin: auto;
}

.header {
    border: 0.2rem solid lightgray; /* was 4px*/
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header td {
    padding: 0.5rem;
}

.header_label_l1 {
    width: 20%;
}

.header_button_l1 {
    width: 60%;
}

.header_label_l2 {
    width: 20%;
}

.header_button_l2 {
    width: 50%;
}

.dropdown_l2 table {
    width: 100%;
}

/* Fix widths of sublevel tr's esp for Weather Alerts which could be long */